<div class="container">
  <div class="row">
    <div class="col">
      <app-database-select></app-database-select>
    </div>
  </div>
  <hr>
  <div class="selected-db-config" *ngIf="requestBody.path !== undefined">
    
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Übersicht
          </mat-panel-title>
          <mat-panel-description>
            Vereinfachte Darstellung aller erkannter und aktuell ausgewählter Einstellungen 
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-overview></app-overview>
        
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span matBadge="{{ suggestions.length }}" matBadgeOverlap="false" matBadgeSize="small" *ngIf="suggestions.length > 0; else no_badge" class="matBadge">Empfehlungen</span>
            <ng-template #no_badge><span>Empfehlungen</span></ng-template>
          </mat-panel-title>
          <mat-panel-description>
            Automatisch erkannte Empfehlungen 
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <app-suggestion></app-suggestion>

      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Einstellungen
          </mat-panel-title>
          <mat-panel-description>
            Auswählen und Anpassen von: Attributen, Tabellen, Generatoren und Metriken  
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <div class="row">
          <div class="col">
            <app-attribute-list></app-attribute-list>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <app-settings></app-settings>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>