/*.mat-badge-active {
  top: 0px !important;
}*/

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  margin-top: 9px;
  margin-bottom: 9px;
}

.mat-accordion > .mat-expansion-panel-spacing:first-child, .mat-accordion > :first-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
  margin-top: 10px;
  margin-bottom: 10px !important;
}