<mat-form-field appearance="fill">
  <mat-label>Data Metrics</mat-label>
  <mat-select [formControl]="metricForm" multiple (selectionChange)="onSelectionChange($event)">
    <mat-select-trigger>
      {{metricForm.value ? metricForm.value[0] : ''}}
      <span *ngIf="metricForm.value?.length > 1" class="example-additional-selection">
        (+{{metricForm.value.length - 1}} {{metricForm.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let metric of metrics" [value]="metric">{{metric}}</mat-option>
  </mat-select>
</mat-form-field>