<div class="row" *ngIf="!loadedModel">
  <div class="col">
    <app-attribute-list></app-attribute-list>
  </div>
</div>
<hr>

<div class="settings">

  <div class="row" *ngIf="!loadedModel">
    <div class="col">
      <app-settings-table ></app-settings-table>    
    </div>
    <div class="col">
      <app-settings-generator></app-settings-generator>
    </div>
    <div class="col">
      <app-settings-metric></app-settings-metric>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngIf="!loadedModel">
      <p>Epochen: {{epochNumber}}</p>
      <mat-slider min="100" max="5000" step="10" value="300" (input)="onEpochChange($event)"></mat-slider>
    </div>
    <div class="col">
      <p>Datenmengenmultiplikator: {{ dataAmount }}</p>
      <mat-slider min="0.1" max="10" step="0.1" value="1" (input)="onAmountChange($event)"></mat-slider>
    </div>
    <div class="col" *ngIf="!loadedModel">
      <p>Datenbasisfaktor: {{ dataFactor }}</p>
      <mat-slider min="0.01" max="1" step="0.01" value="1" (input)="onFactorChange($event)"></mat-slider>
    </div>
  </div>

  <hr>
  <button class="btn btn-success" (click)="onRun()" *ngIf="!loadedModel">Generieren</button>
  <button class="btn btn-primary" (click)="onTestAll()" *ngIf="!loadedModel">Test all</button>
  <button class="btn btn-warning" (click)="onDebug()" *ngIf="!loadedModel">Debug</button>
  <button class="btn btn-dark" (click)="onLoadedModel()" *ngIf="loadedModel">Generate</button>
  <div *ngIf="isLoading === true" style="margin-top: 20px;">
    <p>{{ currentPhase }}</p>
    <p>{{ currentTipp }}</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div> 
  <div class="alert alert-danger" *ngIf="errorMsg" style="margin-top: 20px;">
    <h4>Kritische Fehler!</h4>
    <p>{{ errorMsg }}</p>
  </div>

</div>
