<div class="settings">

  <div class="row">
    <div class="col">
      <app-settings-table></app-settings-table>    
    </div>
    <div class="col">
      <app-settings-generator></app-settings-generator>
    </div>
    <div class="col">
      <app-settings-metric></app-settings-metric>
    </div>
  </div>

  <hr>
  <button class="btn btn-success" (click)="onRun()">Run</button>
  <button class="btn btn-primary" (click)="onTestAll()">Test all</button>
  <button class="btn btn-warning" (click)="onDebug()">Debug</button>
  <div *ngIf="isLoading === true">
    <p>{{ currentPhase }}</p>
    <p>{{ currentTipp }}</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div> 
  
</div>
